<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit, 
                amet consectetur adipisicing elit. 
                Aliquam deleniti saepe quia reiciendis ab. Provident sequi sapiente ex qui ip
                sa esse, dolore recusandae velit ipsum quos laboriosam porro voluptatibus nihil!</p>
        </div>
    </div>
</div>

<!-- Contact Details-->
<div class="container">
    <div class="row align-item-center">
        <div class="col-sm-4">
            <img alt="" src="https://w7.pngwing.com/pngs/129/292/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon.png" class="contact-img-big">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name : <span class="fw-bold">Employe Name</span></li>
                <li class="list-group-item list-group-item-danger">Email : <span class="fw-bold">Email Address</span></li>
                <li class="list-group-item list-group-item-danger">Mobile : <span class="fw-bold">Mobile Number</span></li>
                <li class="list-group-item list-group-item-danger">Company : <span class="fw-bold">Employe Name</span></li>
                <li class="list-group-item list-group-item-danger">Title : <span class="fw-bold">Email Address</span></li>
                <li class="list-group-item list-group-item-danger">Group Name : <span class="fw-bold">Mobile Number</span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
           <a class="btn btn-danger" routerLink="/">
            <i class="fa fa-arrow-alt-circle-left"></i>Back</a> 
        </div>
    </div>
</div>