<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Aliquam deleniti saepe quia reiciendis ab. Provident sequi sapiente ex qui ip
                sa esse, dolore recusandae velit ipsum quos laboriosam porro voluptatibus nihil!</p>
        </div>
    </div>
</div>


<!-- Edit Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input class="form-control" placeholder="Name" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Photo Url" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Email" type="email">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Mobile" type="number">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Company" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Title" type="text">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" type="submit" value="Update">
                    <a class="btn btn-dark ms-2" routerLink="/">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img alt="" src="https://w7.pngwing.com/pngs/129/292/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon.png" class="contact-img">
        </div>
    </div>
</div>